body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-size: large;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    text-align: center;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

a {
    color: #b3679b;
}

ul li {
    list-style-type: none;
}

/* Navigation */
header {
    position: sticky;
    height: 110px;
    background-color: #d3d3d3;
    padding-bottom: 1%;
    z-index: auto;
}

header div img {
    width: 250px;
    float: left;
}


nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #e6a563;
}

nav ul {
    float: right;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 20px;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

/* Hero */
.hero {
    background-color: #ffcf83;
    height: 330px;
    position: static;
}

.hero p {
    width: 50%;    
    padding: 15px;
    float: left;
    margin-top: 1px;
    margin-left: -13px;
}

.hero img {
    float: right;
    position: absolute;
    top: 14px;
    right: 19px;
}

.button {
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #222e50;
    float: left;
    clear: both;
}

.button:hover {
    color: #222e50;
    border: solid;
    background-color: transparent;
}

.hero div::after {
    content: "";
    display: block;
    clear: both;
}

/* Features */

.feature-block {
    background-color: #fff;
    width: 315px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: inline-block;    
}

/* Testimonials */

.testimonials {
    background-color: #222e50;
    padding: 20px;
}

.testimonials h2 {
    color: #fff;
    padding-bottom: 10px;
}

.testimonial-block {
    background-color: #fff;
    width: 300px;  
    padding: 10px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}

.testimonial-block:nth-of-type(1) {
    margin-left: 75px;
}

/* Our Team */

.team-block{
    width: 205px;
    margin: 15px;
    display: inline-block;
    text-align: center;
}

.team-block p {
    height: 48px;
    overflow-y: hidden;
}

.team-block:nth-child(2) {
    padding-left: 5px;
}

.team-block:nth-child(5) p {
    width: 211px;    
}

/* Footer */

footer {
    background-color: #d9d9d9;
    text-align: center;
}

footer img {
    width: 35px;
}