body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-size: large;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: auto;
}

a {
    color: #b3679b;
}

ul li {
    list-style-type: none;
}