body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-size: large;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    text-align: center;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: auto;
}

a {
    color: #b3679b;
}

ul li {
    list-style-type: none;
}

/* Navigation */
header {
    position: sticky;
    height: 110px;
    background-color: #d3d3d3;
}

header div img {
    width: 250px;
    float: left;
}

header div::after {
    content: "";
    display: block;
    clear: both;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #e6a563;
}

nav ul {
    float: right;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 20px;
}

/* Hero */
